::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
  background-color: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 8px;
}
